In [19]:
r1 = 4<5

r2 = not (9 > 1)

r3 = 90 ==10

r4 = 9>3



#What is the output:

r1 or r2 or r3 and r4

True

In [20]:
r1 = 4<5

r2 = not (9 > 1)

r3 = 90 ==10

r4 = 9>3



#What is the output:

r1 and r2 or r3 or r4

True

In [21]:
r1 = 4<5

r2 = not (9 > 1)

r3 = 90 ==10

r4 = 9>3



#What is the output:

r1 or r2 and r3 or r4

True

In [3]:
# Write a for loop so that every item in the list is printed.
lst=["conflict", "peace", "economy", "politics", "president", "education", "climate", "Int. Organizations"]
#Type your answer here.

for i in lst:
    print(i)

conflict
peace
economy
politics
president
education
climate
Int. Organizations

In [4]:
# Write a for loop which print "The new president is:  " plus each name in the list. i.e.: "The new president is: Daniel!"
#(do not forget "!":)

lst=["Daniel", "Jennifer","John", "Megan", "Brody", "Vivian"]
#Type your code here.
for i in lst:
    print("The new president is: ", i, "!")

The new president is:  Daniel
The new president is:  Jennifer
The new president is:  John
The new president is:  Megan
The new president is:  Brody
The new president is:  Vivian

In [5]:
# Write a for loop that iterates through a string and prints every letter.
str="Political Science"
#Type your code here.

for i in str:
    print(i)

P
o
l
i
t
i
c
a
l

S
c
i
e
n
c
e

In [6]:
# Type a code inside the for loop so that counter variable named c is increased by one each time loop iterates. 
#Can you guess how many times it will add 1?.
str="Political Science"
c=0
for i in str:
    c=c+1    
    
    print(c)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [12]:
# Write a while loop that adds all the numbers up to 100 (inclusive).
# The answer is 5050. show your work.

counter=0
total=0

while counter < 100:
    counter = counter +1
    total = counter + total



print(total)

5050

In [1]:
n=int(input("enter n value"))
sum=0
for x in range(1,n+1):
    sum=sum+x
print("sum of first",n,"natural numbers is",sum)

enter n value9
sum of first 9 natural numbers is 45

In [ ]:
user_name = input("Enter your name :")
 
print("Hello ", user_name)

In [ ]:
# Get two numbers from the user and print the sum of the numbers "The sum of the two numbers you entered is: "
number1 = int(input("Enter number 1: " ))
number2 = int(input("Enter number 2: "))
sum = number1 + number2

print("The sum of the two numbers you entered is:", sum)

In [10]:
for num in range(2,100,2):
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
for num in range(50,0,-1):
    if num %2 != 0:
        print(num)

In [11]:
#print prime numbers below 100
for num in range (1,100):
    if num /num ==1:
        print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
number1 =int(input("please enter number1: ))
number2 = int(input("please enter number2: "))
if number1 > number2:
    print (number1,+, "is bigger than",+,number2)
else:
    print(number2)

In [ ]:
number1 =int(input("please enter number1: ))
number2 = int(input("please enter number2: "))
if number1 > number2:
    print (number1,+, "is bigger than",+,number2)
else:
    print(number2)

In [ ]:
number1 = int(input("Enter number 1: " ))
number2 = int(input("Enter number 2: "))

if number1 > number2:
    print(str(number1) + " is bigger than " + str(number2))
elif number1<number2:
    print(str(number2) + " is bigger than " + str(number1))  
else:
    print(str(number1)+ " and "+ str(number2) + " are equal")

In [ ]:
n1 = int(input("Enter first number :"))
 
n2 = int(input("Enter second number :"))
 
if n1 >= n2 :
    print("n1 is the biggest ", n1)
 
else:
    print('n2 is biggest',n2)

In [ ]:
number1 = int(input("Enter number 1: " ))
number2 = int(input("Enter number 2: "))

if number1 > number2:
    print(number1, " is bigger than ",number2)
elif number1<number2:
    print(number2, " is bigger than ", number1)  
else:
    print(number1, " and ", number2, " are equal")

In [ ]:
number1 = int(input("Enter number 1: " ))
number2 = int(input("Enter number 2: "))
number3 = int(input("Enter number 3: "))
print(max(number1,number2,number3))

In [ ]:
if number1 > number2 and number1 > number3:
    print(number1, " is the biggest")
elif number2>number1 and number2> number3:
    print(number2 " is the biggest")  
else:
    print(number3, " is the biggest")

In [ ]:
number1 = int(input("Enter number 1: " ))
number2 = int(input("Enter number 2: "))
number3 = int(input("Enter number 3: "))
print(max(number1,number2,number3))

In [3]:
str1 = "this is a sample DaTaa"
if 'is' in str1:
 
    print("'is' is substring of ", "'" + str1 + "'")

'is' is substring of  'this is a sample DaTaa'

In [4]:
if 'was' not in str1:
 
    print("'was' is not a substring of ", "'" + str1 + "'")

'was' is not a substring of  'this is a sample DaTaa'

In [8]:
print(str1.lower())

this is a sample dataa

In [9]:
print(str1.title())

This Is A Sample Dataa

In [11]:
print(str1.capitalize())

This is a sample dataa

In [12]:
print(str1.upper())

THIS IS A SAMPLE DATAA

In [14]:
str2 = str1.replace("DaTaa", "Data")
print(str2)

this is a sample Data

In [15]:

new_str = str1[:-1]
 
print(new_str)

this is a sample DaTa

In [16]:
date_str = '10-Jan-2020'
 
d,m,y = date_str.split('-')
 
print("date :{0} month:{1} year:{2}".format(d,m,y))

date :10 month:Jan year:2020

In [20]:
arr = "10,20,30,40,50,60,70", #get “50,60”
print(arr[4:5])

()